.list-wrapper {
    padding: 20px 60px;
    background-color: rgba($color: lightblue, $alpha: 0.4);
    .list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .film-container {
            width: calc(33% - 10px);
        }
    }
}
