<div class="login-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
        placeholder="Ex. pat@example.com">
      <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" placeholder="Password" matInput formControlName="password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid" class="auth-btn">{{isLogin ? 'Login' : 'Sign up' }}</button>
  </form>
  <span (click)="navigateSignUp()" class="go-to">{{isLogin ? 'Go to sign up' : 'Go to login' }}</span>
</div>
