h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-family: monospace;
}
.login-wrapper {
    background-color: #ffffff;
    width: 400px;
    height: fit-content;
    padding: 45px;
    form {
        display: flex;
        flex-direction: column;
    }
    .auth-btn {
        width: fit-content;
        align-self: flex-end;
        cursor: pointer;
    }
    .go-to {
        color: gray;
        text-decoration: underline;
    }
    .go-to:hover {
        color: #000000;
        cursor: pointer;
    }
}