.global {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 60px;

    .page {
        width: 100%;
        .title {
            h1 {
                text-align: center;
            }
        }
        img {
            width: 270px;
            height: 380px;
        }

        .colum {
            display: flex;
            flex-direction: row;
            align-items: top;
        }

        .plot {
            padding: 20px;
        }
        .label {
            font-weight: 600;
            margin-right: 8px;
        }

        .details-wrapper {
            background-color: rgba($color: lightblue, $alpha: 0.4);
            padding: 20px;
            .details {
                margin: 8px 0;
            }
            h2 {
                margin-top: 40px;
            }
            .film-container {
                margin-bottom: 20px;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                overflow: auto;

                .similar-films {
                    display: block;
                    max-width: 185px;
                    margin-right: 10px;
                    border-radius: 8px;
                    border: 1px solid rgb(64, 64, 64);
                    cursor: pointer;
                }
            }
        }
    }
}
