<mat-card  class="card" *ngIf="film">
    <mat-card-header class="title-wrapper">
        <div class="title">
            <mat-card-title class="child" [routerLink]="['/details', film.id]">{{film.title}} </mat-card-title>
            <mat-icon (click)="toggleFavorite(film.id, !film.favorite)" [class.colorStars]="film.favorite">star</mat-icon>
        </div>
        <img
        mat-card-image [src]="'https://image.tmdb.org/t/p/w500/' + film.poster_path">
    </mat-card-header>
    <mat-card-content class="card-content">
        <p class="child"> {{film.overview}}</p>
        <p class="child"> <span>Release date:</span> {{film.release_date}}</p>
        <p class="child"> <span>Rating:</span> {{film.vote_average}}</p>
        <p class="child"> <span>Popularity:</span> {{film.popularity}}</p>
    </mat-card-content>
</mat-card>
